.container {
	padding: 0 !important;
	margin: auto;
	max-width: 800px;
	
}
.index {
	background: url('../images/IMG_0254_1.jpg');  
	background-size:cover; 
}
.navbar-brand {
	height: initial !important;
	padding: 5px !important;
	font-color: #fefefe !important;
}
.navbar-brand a {
	color: #f6f6f6;
}
.menuItem {
	width: 33.33%; 
	line-height:20px !important; 
	border-left: 1px #eee solid;
	margin: 10px 0;
}
.icon {
	padding: 2px;
	font-size: 10px;
}
#main {
}
body {
	background-color: #f2f2f2;
}